{% include "head.html" ignore missing %}

{% if show_crest %}
  <div class="row" id="faq">
    <div id="login" class="col-xs-12">
      <a href="{{ crest_url }}">
        <img src="/static/images/sso_black.png" alt="Click here to log in">
      </a>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-xs-12">
      <h1 id="pilot_name">Pilot: {{ pilot_name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 id="current_location">Current Location: {{ current_system }}</h3>
    </div>
  </div>

  <div id="current_system" class="row">
    <div class="col-xs-12">
      <h4>
        <a href="#" id="sd_{{ current_id }}" class="set_destination">Set Destination</a> |
        <a href="#" id="aw_{{ current_id }}" class="add_waypoint">Add Waypoint</a>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>
        <a id="link_tripwire" href="https://tripwire.eve-apps.com/?system={{ current_system }}"
           target="_blank">Tripwire</a> |
        <a id="link_zkill" href="https://zkillboard.com/system/{{ current_id }}" target="_blank">zKillboard</a> |
        <a id="link_dotlan" href="http://evemaps.dotlan.net/system/{{ current_system }}" target="_blank">dotlan</a>
      </h4>
    </div>
  </div>

  <div class="row" id="auto_update">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success" id="btn_autoupdate">Auto Update?</button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-xs-12">
      <h4><label for="system">Search</label></h4>
    </div>
  </div>

  <div class="row">
    <ul>
      <li>Minimum 3 characters</li>
      <li>Searching will disable auto-update</li>
      <li>Wormholes can be searched to check their meta links (zkill, etc.) but setting waypoints using the navigation
        function will not work (duh)
      </li>
    </ul>
  </div>

  <div class="form-group row">
    <div class="col-xs-12 col-sm-4">
      <input id="system" class="form-control">
    </div>
    <div class="col-xs-3 col-sm-2">
      <button id="reset" class="form-control btn btn-primary">Reset</button>
    </div>
  </div>
  <hr>

  <div id="trade_hub_label" class="row">
    <div class="col-xs-12">
      <h3>Trade Hub Stations</h3>
    </div>
  </div>

  <div id="trade_hubs" class="row">
    {% for name, values in distances|dictsort %}
      <div id="{{ name }}" class="col-md-6">
        <h4 id="label_{{ name }}">{{ name }} - {{ values['distance'] }} Jump(s)</h4>
        <a href="#" id="sd_{{ values['station_id'] }}" class="set_destination">Set Destination</a> |
        <a href="#" id="aw_{{ values['station_id'] }}" class="add_waypoint">Add Waypoint</a>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <hr>
    <div id="show_stations" class="col-xs-12">
      <h4>
        <a href="#">Show/Hide Stations for {{ current_system }}</a>
        <img id="station_loader" src="/static/images/ajax-loader-white.gif">
        <span id="station_error"></span>
      </h4>
    </div>
    <div id="station_div" class="col-xs-12"></div>
    <hr>
  </div>

  <script type="text/javascript">
      let currentSystemID = '';
      let currentSystemName = '';
      let timerUpdate;
      $(function () {
          // Hide the loading message and initialize globals
          $('#station_div').hide();
          $('#station_loader').hide();
          currentSystemID = '{{ current_id }}';
          currentSystemName = '{{ current_system }}';

          // URL construction
          let base = 'https://esi.tech.ccp.is/latest/';
          let url = base + 'ui/autopilot/waypoint/?datasource=tranquility';
          let access_token = '{{ access_token }}';

          // Set Destination click handler
          $('#current_system, #trade_hubs, #station_div').on("click", ".set_destination", function (e) {
              // console.log(".set_destination handler called");
              let destination = $(this).attr('id').split('_')[1];
              $.post(url + '&add_to_beginning=true&clear_other_waypoints=true' + '&destination_id=' + destination + '&token=' + access_token);

              e.preventDefault();
          });

          // Add Waypoint click handler
          $('#current_system, #trade_hubs, #station_div').on("click", ".add_waypoint", function (e) {
              // console.log(".add_waypoint handler called");
              let destination = $(this).attr('id').split('_')[1];
              $.post(url + '&add_to_beginning=false&clear_other_waypoints=false' + '&destination_id=' + destination + '&token=' + access_token);

              e.preventDefault();
          });

          // Reset click handler
          $('#reset').click(function () {
              // Reset values to the user's current location
              $('#current_location').text("Current Location: {{ current_system }}");
              $('#sd_' + currentSystemID).attr("id", 'sd_{{ current_id }}');
              $('#aw_' + currentSystemID).attr("id", 'aw_{{ current_id }}');

              currentSystemName = '{{ current_system }}';
              currentSystemID = '{{ current_id }}';

              // Update meta links
              $('#link_tripwire').attr('href', "https://tripwire.eve-apps.com/?system={{ current_system }}");
              $('#link_zkill').attr('href', "https://zkillboard.com/system/{{ current_id }}");
              $('#link_dotlan').attr('href', "http://evemaps.dotlan.net/system/{{ current_system }}");

              // Hide and remove stations
              $('#station_div').hide(100).empty();
              $('#station_error').text('');

              // Update text for show/hide link
              $('#show_stations').find('> h4 > a').text("Show/Hide Stations for " + currentSystemName);

              // Change page title
              $('title').text(currentSystemName + ' - Trade Hub Router');

              // Clear search box
              $('#system').val('');

              // Restart Auto-update
              start();

              // Update distances
              $.ajax({
                  type: 'GET',
                  url: '/traderouter/search/{{ current_system }}',
                  dataType: "json",
                  contentType: 'application/json'
              }).done(function (ret) {
                  // console.log(ret);
                  $.each(ret, function (name, data) {
                      $('#label_' + name).text(name + ' - ' + data['distance'] + ' Jump(s)');
                  });
              });

              return false;
          });

          // Show Stations click handler
          $('#show_stations').click(function () {
              if ($('#station_div').is(':empty')) {
                  $('#station_loader').show(100);
                  $('#station_error').text('');
                  // Get station IDs for the current system
                  $.ajax({
                      type: 'GET',
                      url: base + 'search/?categories=station&datasource=tranquility&language=en-us&strict=false&search=' + currentSystemName,
                      dataType: "json",
                      contentType: 'application/json'
                  }).done(function (ret) {
                      // Resolve IDs to names
                      if (JSON.stringify(ret['station']) !== undefined) {
                          $.ajax({
                              type: 'POST',
                              url: base + 'universe/names/',
                              data: JSON.stringify(ret['station']),
                              dataType: "json",
                              contentType: 'application/json',
                              success: function (ret) {
                                  // Sort by station name
                                  let sorted = ret.sort(function (a, b) {
                                      return a['name'].localeCompare(b['name']);
                                  });

                                  $.each(sorted, function (index, data) {
                                      $('#station_div').append(
                                          "<hr><div><h5>" + data['name'] + "</h5>" +
                                          "<a id='sd_" + data['id'] + "' href='#' class='set_destination'>Set Destination</a> | " +
                                          "<a id='aw_" + data['id'] + "' href='#' class='add_waypoint'>Add Waypoint</a>" +
                                          "</div>"
                                      );
                                  });
                                  $('#station_loader').hide(100);
                              },
                              error: function (ret, textStatus, errorThrown) {
                                  console.log("%o " + textStatus + " " + errorThrown, ret);
                              }
                          });
                      } else {
                          $('#station_loader').hide(100);
                          $('#station_error').text("No Stations Found");
                      }
                  });
              }
              $('#station_div').toggle(100);

              return false;
          });

          // Autocomplete system name functionality
          $('#system').autocomplete({
              source: function (request, response) {
                  $.get(base + 'search/?categories=solarsystem%2Cwormhole&datasource=tranquility&language=en-us&strict=false&search=' + request.term)
                      .done(function (data) {
                          $.ajax({
                              type: 'POST',
                              url: base + 'universe/names/',
                              data: JSON.stringify(data['solarsystem']),
                              dataType: "json",
                              contentType: 'application/json',
                              success: function (ret) {
                                  // console.log(ret);
                                  response($.map(ret, function (el) {
                                      return {
                                          label: el.name,
                                          value: el.id
                                      };
                                  }));
                              }
                          });
                      });
              },
              minLength: 3,
              select: function (event, ui) {
                  // Get values from the input
                  // console.log(ui.item.value);
                  currentSystemName = ui.item.label;
                  let oldSystemID = currentSystemID;
                  currentSystemID = ui.item.value;
                  $('#current_location').text("Viewing System: " + currentSystemName);
                  $('#system').val(ui.item.label);

                  // Update ids to allow setting destination/adding waypoint to viewing system
                  $('#sd_' + oldSystemID).attr("id", 'sd_' + currentSystemID);
                  $('#aw_' + oldSystemID).attr("id", 'aw_' + currentSystemID);

                  // Update meta links
                  $('#link_tripwire').attr('href', 'https://tripwire.eve-apps.com/?system=' + currentSystemName);
                  $('#link_zkill').attr('href', 'https://zkillboard.com/system/' + currentSystemID);
                  $('#link_dotlan').attr('href', 'http://evemaps.dotlan.net/system/' + currentSystemName);

                  // Hide and remove stations
                  $('#station_div').hide(100).empty();
                  $('#station_error').text('');

                  // Update text for show/hide link
                  $('#show_stations').find('> h4 > a').text("Show/Hide Stations for " + currentSystemName);

                  // Change page title
                  $('title').text(currentSystemName + ' - Trade Hub Router');

                  // Fetch and update distances to trade hubs from viewing system
                  $.ajax({
                      type: 'GET',
                      url: '/traderouter/search/' + currentSystemName,
                      dataType: "json",
                      contentType: 'application/json'
                  }).done(function (ret) {
                      // console.log(ret);
                      $.each(ret, function (name, data) {
                          $('#label_' + name).text(name + ' - ' + data['distance'] + ' Jump(s)');
                      });
                  });

                  // Prevent system ID from replacing name in input field
                  return false;
              }
          });

          // Auto Update handlers
          // Enabled on page load
          start();

          // Toggle button handler
          $('#btn_autoupdate').on('click', function () {
              if ($(this).hasClass("btn-danger")) {
                  start();
              } else {
                  stop();
              }
          });

          // Disable auto update when searching system
          $('#system').on('change keyup paste', function () {
              if ($(this).val() != '') stop();
          });

          // Start Auto Update interval
          function start() {
              // If auto-update is disabled, enable it
              // console.log('Auto update enabled');
              $('#btn_autoupdate').removeClass("btn-danger").addClass("btn-success");

              timerUpdate = setInterval(function () {
                  // console.log("Updating Location...");

                  // Fetch and update distances to trade hubs from viewing system

                  // First get current system
                  $.ajax({
                      type: 'GET',
                      url: '/traderouter/update/location/{{ refresh_token }}',
                      dataType: "json",
                      contentType: 'application/json'
                  }).done(function (ret) {
                      // console.log(ret);
                      let oldSystemID = currentSystemID;
                      currentSystemID = ret['system_id'];

                      // Compare old and new to see if we need to update distances
                      if (oldSystemID != currentSystemID) {
                          // console.log("System changed: " + oldSystemID + " -> " + currentSystemID);

                          currentSystemName = ret['name'];
                          // Update values to the user's current location
                          $('#current_location').text("Current Location: " + currentSystemName);
                          $('#sd_' + oldSystemID).attr("id", 'sd_' + currentSystemID);
                          $('#aw_' + oldSystemID).attr("id", 'aw_' + currentSystemID);

                          // Update meta links
                          $('#link_tripwire').attr('href', "https://tripwire.eve-apps.com/?system=" + currentSystemName);
                          $('#link_zkill').attr('href', "https://zkillboard.com/system/" + currentSystemID);
                          $('#link_dotlan').attr('href', "http://evemaps.dotlan.net/system/" + currentSystemID);

                          // Update text for show/hide link
                          $('#show_stations').find('> h4 > a').text("Show/Hide Stations for " + currentSystemName);

                          // Hide and remove stations
                          $('#station_div').hide(100).empty();

                          // Change page title
                          $('title').text(currentSystemName + ' - Trade Hub Router');

                          // Update distances
                          $.ajax({
                              type: 'GET',
                              url: '/traderouter/update/distances/{{ refresh_token }}',
                              dataType: "json",
                              contentType: 'application/json'
                          }).done(function (ret) {
                              // console.log(ret);
                              $.each(ret, function (name, data) {
                                  $('#label_' + name).text(name + ' - ' + data['distance'] + ' Jump(s)');
                              });
                          });
                      } else {
                          // console.log("System has not changed");
                      }
                  });

                  // Update access token to prevent 403 errors
                  $.ajax({
                      type: 'GET',
                      url: '/traderouter/update/token/{{ refresh_token }}',
                      dataType: 'json',
                      contentType: 'application/json'
                  }).done(function (ret) {
                      //console.log(ret);
                      access_token = ret;
                  });
              }, 10000);
          }

          // Stop Auto Update Interval
          function stop() {
              // If auto-update is enabled, disable it
              // console.log('Auto update disabled');
              $('#btn_autoupdate').removeClass("btn-success").addClass("btn-danger");
              clearInterval(timerUpdate);
          }
      });
  </script>
{% endif %}

{% include "foot.html" ignore missing %}
